<nav class="site-nav">
  <a href="{{ '/' | relative_url }}" class="logo">{{ site.title }}</a>
  <ul class="nav-links">
    <li><a href="{{ '/about/' | relative_url }}" class="{% if page.url == '/about/' %}active{% endif %}">About</a></li>
    <li><a href="{{ '/design/' | relative_url }}" class="{% if page.url == '/design/' %}active{% endif %}">Design</a></li>
    <li><a href="{{ '/development/' | relative_url }}" class="{% if page.url == '/development/' %}active{% endif %}">Development</a></li>
  </ul>
</nav>
