<!--<nav class="site-nav">
  
  <ul class="nav-links-left">
    <li><a href="{{ '/' | relative_url }}" class="logo {% if page.url == '/' %}active{% endif %}">Ruben Severino</a></li>
  </ul>
  <ul class="nav-links-right">
    <li><a href="{{ '/skills/' | relative_url }}" class="{% if page.url == '/skills/' %}active{% endif %}">Skills</a></li>
    <li><a href="{{ '/projects/' | relative_url }}" class="{% if page.url == '/projects/' %}active{% endif %}">Projects</a></li>
  </ul>
</nav>-->
<nav class="site-nav">
  <div class="nav-left">
    <div class="nav-left-empty"></div>
    <a href="{{ '/' | relative_url }}" class="logo {% if page.url == '/' %}active{% endif %}">Ruben Severino</a>
  </div>
  <div class="nav-right">
    <!--<a href="{{ '/skills/' | relative_url }}" class="{% if page.url == '/skills/' %}active{% endif %}">Skills</a>-->
    <a href="{{ '/projects/' | relative_url }}" class="{% if page.url == '/projects/' %}active{% endif %}">Projects</a>
    <div class="nav-right-empty"></div>
  </div>
</nav>
