<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
  {% include head.html %}
</head>
<body class="{{ page.layout }}">

  <!-- Imagen sobre el menú -->
  <img src="{{ '/assets/images/header-image3.jpg' | relative_url }}" alt="Header Image" class="header-image">

  <!-- Menú -->
  {% include nav.html %}

  <!-- Contenido -->
  {% if page.url contains '/development' %}
    <div class="page-container">
      <main class="site-content">
        {{ content }}
        <!-- Sidebar menú de proyectos para Development -->
        <h3>My Projects</h3>
        {% assign projects = site.pages | where_exp: "page", "page.path contains 'projects/'" %}
        {% for project in projects %}
          <div class="project" onclick="window.location.href='{{ project.url }}'">
            <strong class="project-title">{{ project.title }}</strong>
            <div class="project-content">
              {% if project.image %}
                <img src="{{ project.image }}" alt="{{ project.title }}" class="project-image">
              {% endif %}
              <div class="summary">
                <p>{{ project.summary }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </main>
    </div>
  {% else %}
    <main class="site-content">
      {{ content }}
    </main>
  {% endif %}

  <!-- Footer -->
  {% include footer.html %}
</body>
</html>

